#container1 span > :first-child  {
	float: left;
	padding-right: 10px;
	padding-top: 6px;
	color: #E74C3C;
}

#container1 span > :nth-child(2) {
	color: #2C3E50;
	float: left;
}

#container1 span > :nth-child(3) {
	color: #34495E;
	float: right;
	font-size: 13px;
}

#post > :nth-child(2) {
	clear: both;
	margin-bottom: 0px; 
	color: #2C3E50;
}

#post > :nth-child(3) {
	font-style: italic;
	color: #34495E;
}

#post {
	transition: .40s;
}

#post:hover { 
	background-color: #EAEAEC; 
}

#container1 {
	
	margin-top: 15px;
	margin-bottom: 15px;
}

#container1 h6 {
	margin-top: 10px; 
	margin-bottom: 5px; 
}

h3 {
	text-align: center;
	color: #34495E;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 1.9em;
}

#topInput {
	padding-bottom:10px;
}

.form-control {
	padding: 5px;
}

#container2 {
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;
}

#addComment {
	background-color: #e6e6e6;
	padding-bottom: 10px;
	padding-top: 15px;
	border-radius: 8px;
	transition: .40s;
}

#nameCol {
	padding-right: 2.5px;
}

#emailCol {
	padding-left: 2.5px;
}

#buttonInput {
	padding-top: 10px;
	text-align: center;
}

#postButton {
	padding: 5px;
	font-size: 14px;
}

textarea {
    resize: none;
}

@media all and (max-width: 768px) {
	#container1 h6 {
		font-size: 1.2em;
	}
	.container {
		margin-right: 30px;
		margin-left: 30px;
	}
	#post > :nth-child(2) {
		font-size: 16px;
	}
}

@media all and (max-width: 480px) {
	.container {
		padding-right: 0px; 
		padding-left: 0px; 
	}
	#container1 h6 {
		font-size: 1em;
	}
	h3 {
		font-size: 1.6em;
		margin-top: 15px;
	}
	#container1 p {
		font-size: 0.8em;
	}
	#container1 span > :nth-child(3) {
		font-size: 0.6em;
	}
	#post > :nth-child(2) {
		font-size: 13px;
	}
	#post > :nth-child(3) {
		font-size: 0.7em;
	}
	#container1 {
		margin-right: 30px;
		margin-left: 30px;
	}
	#container2 {
		padding-right: 15px;
		padding-left: 15px;
	}
	#post {
		margin-bottom: 10px;
	}
}